<table class="table">
<tbody>
	<tr><%= attachment_image_tag @user, :profile_image,:fill, 100, 100, fallback: "no_image.jpg"%></tr>
	<tr>
	<th>name</th>
	<th><%= @user.name %></th>
	</tr>
	<tr>
	<th>introduction</th>
	<th><%= @user.introduction %></th>
	</tr>
	<tr>
	<th><%= "フォロー数" %></th>
	<th><%= link_to user_follows_path(@user.id)do %>
		<%= @user.follower.count %>
		<% end %>
	</th>
	</tr>
	<tr>
	<th><%= "フォロワー数" %></th>
	<th><%= link_to user_follower_path(@user.id) do %>
		<%= @user.followed.count %>
		<% end %>
	</tr>
</tbody>
</table>

<% if current_user.id != @user.id %>
<!-- フォロー機能 -->
<div class="btn-wrapper">
	<div class="row">
	<% if current_user.following?(@user) %>
	<%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST, class: "btn btn-info col-xs-10 col-xs-offset-1" %>
	<% else %>
	<%= link_to 'フォローする', follow_path(@user.id), method: :POST, class: "btn btn-success col-xs-10 col-xs-offset-1" %>
	<% end %>
	</div>
</div>
<% else %>
<div class="row">
    <%= link_to  edit_user_path(@user) do%>
    <div class="col-xs-12 btn btn-default">
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    </div>
    <% end %>
</div>
<% end %>
