
<% if @user.errors.any? %>
  <h3><%= @user.errors.count %>error occurrence</h3><!--エラーメッセ-->
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!

<h2>User info</h2>
<%= form_for (@user) do |f| %>
  <%= f.attachment_field :profile_image %>
    <%= attachment_image_tag @user, :profile_image,:fill, 100, 100, format: 'jpeg'%>
  <p>name</p>
  <%= f.text_field :name %>
  <p>introduction</p>
  <%= f.text_area :introduction %>
  <%= f.submit 'Update User' %>
  <% end %>