<div class="row">
<div class="col-xs-3" >

  <!-- ユーザー -->
	<h2>User info</h2>
  <%= attachment_image_tag @user, :profile_image,:fill, 100, 100, fallback: "no_image.jpg"%>
	<table class="table">
	<tbody>
	<tr>
	<th>name</th>
    <th><%= @user.name %></th>
    </tr>
    <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
	</tr>
	</tbody>
	</table>
  <div class="row">
      <%= link_to  edit_user_path(@user) do%>
      <div class="col-xs-12 btn btn-default">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  </div>
  <% end %>
</div>

<!-- 投稿 -->
<h2>New book</h2>
<%= form_for(@book) do |f| %>
<div class="field row">
<p>Title</p>
<%= f.text_field :title, class: "col-xs-12 book_title"  %>
</div>

<div class="field row">
<p>Opinion</p>
<%= f.text_area :body, class: "col-xs-12 book_body"  %>
</div>

<div class="actions row">
<%= f.submit class: "btn btn-primary col-xs-12" %>
</div>
<% end %>
</div>

<!-- book詳細 -->
<div class="col-xs-9">
<h3>Book detail</h3>
<table class="table table-hove">
<thead>
</thead>
<tbody>
<tr>
<td>
  <%= link_to user_path(@user) do %>
  <%= attachment_image_tag @user, :profile_image,:fill, 50, 50, format: 'jpeg'%>
<p><%= @user.name %>
</p>
<% end %>
</td>
<td>
<%= link_to  @books.title, book_path(@books.id) %>
</td>
<td>
<%= @books.body %>
</td>

<!-- いいね機能 -->
<td>
<% if current_user.already_liked?(@books) %>
  <%= link_to book_favorites_path(@books), method: :delete do %>
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <%= @books.favorites.count %>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(@books), method: :post do %>
  <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
  <%= @books.favorites.count %>
  <% end %>
<% end %>
</td>

<!-- コメント件数 -->
<td>
<%= @books.book_comments.count %>件コメント</h2>
</td>

<!-- 編集　削除 -->
<% if @books.user_id == current_user.id %>
<td>
<%= link_to "Edit", edit_book_path(@books.id) %>
</td>
<td>
<%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</td>
<% end %>
</tr>
</tbody>
</table>

<!-- コメント一覧 -->
<div class="row">
  <div class="col-xs-5">
    <h2>コメント一覧</h2>
    <table class="table table-hove">
    <tbody>
    <% @book_comments.each do |c| %>
    <tr>
    <td>
    <%= c.comment %>
    </td>
    <% if @books.user_id == current_user.id %>
    <td>
    <%= link_to "削除", book_book_comments_path(@books), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    </td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>

<!-- コメント投稿 -->
  <div class="col-xs-5">
    <%= form_for [@books, @book_comment] do |f| %>
  <div class="row">
  <div class="col-sm-12">
  <%= f.text_field :comment, class: "form-control",placeholder: "コメントをここに" %>
  </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  <% end %>
  </div>


</div>
</div>
</div>




